@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*noinspection CssInvalidPropertyValue,CssNonIntegerLengthInPixels,CssUnknownProperty*/
html {
    @apply h-full;

    /*
     * Enhances font rendering for better visual consistency with Figma
     * designs by applying smoothing and subtle text-stroke effects.
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.1px;
    text-stroke: 0.1px;
}

body {
    @apply flex min-h-full;
}

#app {
    @apply flex-1 min-h-full;
}